body{
    background: #232323;
    display: flex;
    justify-content: center;
    margin-top: 10rem;
}

.flip-card{
    background-color: transparent;
    height: 500px;
    width: 300px;
}

.inner{
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .inner{
    transform: rotateY(180deg);
}

.font, .card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.font{
    background-color: #bbb;
    color: black;
}

.card-back{
    margin: 10px;
    background-color: white;
    transform: rotateY(180deg);
}